<%- include('header') -%>


<div class="text-center center-div" id="login">
    <div class="continter w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold"> Game Administrator Login System</h2>
            <span>Login for authorized game adminstrator</span>
        </div>
        <form action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="your registered email here" name="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="your password" name="password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>


<%- include('footer') %> 